<label for="anrede">
	<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.anrede" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="anrede" /><br />
<label for="titel">
	<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="vorname">
	<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.vorname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="nachname">
	<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.nachname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="nachname" /><br />
<label for="bild">
	<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.bild" />
</label><br />
	<f:form.upload property="bild" /><br />
<label for="description">
	<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />