<table class="tx-sdjhfgkd20" >
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.anrede" />
		</td>
		<td>
			{lehrende.anrede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.titel" />
		</td>
		<td>
			{lehrende.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.vorname" />
		</td>
		<td>
			{lehrende.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.nachname" />
		</td>
		<td>
			{lehrende.nachname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.bild" />
		</td>
		<td>
			{lehrende.bild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_lehrende.description" />
		</td>
		<td>
			{lehrende.description}
		</td>
	</tr>
</table>