<table class="tx-sdjnews" >
	<tr>
		<td>
			<f:translate key="tx_sdjnews_domain_model_news.date" />
		</td>
		<td>
			{news.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjnews_domain_model_news.header" />
		</td>
		<td>
			{news.header}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjnews_domain_model_news.metatitle" />
		</td>
		<td>
			{news.metatitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjnews_domain_model_news.metaabstract" />
		</td>
		<td>
			{news.metaabstract}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjnews_domain_model_news.metadescription" />
		</td>
		<td>
			{news.metadescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjnews_domain_model_news.metakeywords" />
		</td>
		<td>
			{news.metakeywords}
		</td>
	</tr>
</table>