<label for="title">
	<f:translate key="tx_sdjhfgkd20_domain_model_media.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="image">
	<f:translate key="tx_sdjhfgkd20_domain_model_media.image" />
</label><br />
	<f:form.upload property="image" /><br />
<label for="mp4">
	<f:translate key="tx_sdjhfgkd20_domain_model_media.mp4" />
</label><br />
	<f:form.upload property="mp4" /><br />
<label for="ogg">
	<f:translate key="tx_sdjhfgkd20_domain_model_media.ogg" />
</label><br />
	<f:form.upload property="ogg" /><br />
<label for="embed">
	<f:translate key="tx_sdjhfgkd20_domain_model_media.embed" />
</label><br />
	<f:form.textfield property="embed" /><br />