<table class="tx-sdjhfgkd20" >
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_media.title" />
		</td>
		<td>
			{media.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_media.image" />
		</td>
		<td>
			{media.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_media.mp4" />
		</td>
		<td>
			{media.mp4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_media.ogg" />
		</td>
		<td>
			{media.ogg}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_media.embed" />
		</td>
		<td>
			{media.embed}
		</td>
	</tr>
</table>