
### SublimeText ###
*.sublime-workspace

### Sass ###
.sass-cache

### CodeKit ###
*/codekit-config.json


# Ignore serveral upload and file directories
*/.DS_Store
/fileadmin/user_upload/
/fileadmin/_temp_/
/fileadmin/_processed_/
/fileadmin/_migrated/
/fileadmin/*.t3d
/uploads/
/fileadmin/templates/config.codekit

# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php

# Ignore files with database credentials & installation infos
/typo3conf/LocalConfiguration.php
/typo3conf/PackageStates.php
/typo3conf/l10n/
/typo3conf/ext/extension_builder/
/typo3conf/ext/phpmyadmin/

# Ignore temp directory.
/typo3temp/

# Ignore typo3 core
/typo3

# Ignore log files
*.log
