<label for="vorname">
	<f:translate key="tx_sdjhfgkd20_domain_model_studierende.vorname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="nachname">
	<f:translate key="tx_sdjhfgkd20_domain_model_studierende.nachname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="nachname" /><br />
<label for="description">
	<f:translate key="tx_sdjhfgkd20_domain_model_studierende.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />