<table class="tx-sdjhfgkd20" >
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_studierende.anrede" />
		</td>
		<td>
			{studierende.anrede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_studierende.titel" />
		</td>
		<td>
			{studierende.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_studierende.vorname" />
		</td>
		<td>
			{studierende.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_studierende.nachname" />
		</td>
		<td>
			{studierende.nachname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_studierende.bild" />
		</td>
		<td>
			{studierende.bild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_studierende.description" />
		</td>
		<td>
			{studierende.description}
		</td>
	</tr>
</table>