###document###
<nav id="stack-nav" class="sub-nav ajax-load-me">
	<h3 class="order-by">Sortierung</h3>
    <ul class="order-by" data-menu="order-by">
    	<li><a href="#" class="active" data-value="all">Keine</a></li>
    	<li><a href="#" data-value="advisingPersons">Lehrende</a></li>
    	<li><a href="#" data-value="year">Jahr</a></li>
    </ul>
    <h3 class="show-as">Darstellung</h3>
    <ul class="show-as" data-menu="show-as">
    	<li><a href="#" class="active" data-value="mode-stack">Stapel</a></li>
    	<li><a href="#" data-value="mode-list">Liste</a></li>
    </ul>
</nav>
###document###