<label for="title">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="year">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.year" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="year" /><br />
<label for="mainimage">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.mainimage" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="mainimage" /><br />
<label for="techniques">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.techniques" />
</label><br />
	<f:form.textarea property="techniques" cols="40" rows="15" /><br />
<label for="students">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.students" />
</label><br />
	<f:form.textfield property="students" /><br />
<label for="seminar">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.seminar" />
</label><br />
	<f:form.textfield property="seminar" /><br />
<label for="semester">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.semester" />
</label><br />
	<f:form.textfield property="semester" /><br />
<label for="description">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="metaabstract">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.metaabstract" />
</label><br />
	<f:form.textarea property="metaabstract" cols="40" rows="15" /><br />
<label for="metadescription">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.metadescription" />
</label><br />
	<f:form.textarea property="metadescription" cols="40" rows="15" /><br />
<label for="metakeywords">
	<f:translate key="tx_sdjhfgkd20_domain_model_projekte.metakeywords" />
</label><br />
	<f:form.textarea property="metakeywords" cols="40" rows="15" /><br />