<table class="tx-sdjhfgkd20" >
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.title" />
		</td>
		<td>
			{projekte.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.year" />
		</td>
		<td>
			{projekte.year}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.mainimage" />
		</td>
		<td>
			{projekte.mainimage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.techniques" />
		</td>
		<td>
			{projekte.techniques}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.students" />
		</td>
		<td>
			{projekte.students}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.seminar" />
		</td>
		<td>
			{projekte.seminar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.semester" />
		</td>
		<td>
			{projekte.semester}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.description" />
		</td>
		<td>
			{projekte.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.metaabstract" />
		</td>
		<td>
			{projekte.metaabstract}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.metadescription" />
		</td>
		<td>
			{projekte.metadescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjhfgkd20_domain_model_projekte.metakeywords" />
		</td>
		<td>
			{projekte.metakeywords}
		</td>
	</tr>
</table>