<table class="tx-sdjimagegroups" >
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.image" />
		</td>
		<td>
			{images.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.imgwidth" />
		</td>
		<td>
			{images.imgwidth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.imgheight" />
		</td>
		<td>
			{images.imgheight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.imgtop" />
		</td>
		<td>
			{images.imgtop}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.imgright" />
		</td>
		<td>
			{images.imgright}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.imgbottom" />
		</td>
		<td>
			{images.imgbottom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sdjimagegroups_domain_model_images.imgleft" />
		</td>
		<td>
			{images.imgleft}
		</td>
	</tr>
</table>